@{
    ViewBag.Title = "Contact";
}

<div ng-controller="contactController">
    <div class="content-container">
        <div class="content-header">
            <h1 style="color: white;">Contact</h1>
        </div>
        <div class="content-body">
            <div layout="row">
                <div flex="10"></div>
                <div flex="80">
                    <md-content class="md-no-momentum" layout-margin>
                        <form name="form">
                            <md-input-container class="md-block left-align-text" layout-align="center center">
                                <label>name</label>
                                <input type="text" name="EmailName" ng-model="emailName" ng-maxlength="20" ng-required="true"/>
                                @Html.Partial("_AngularMessages", "form.EmailName")
                            </md-input-container>
                            <md-input-container class="md-block left-align-text" layout-align="center center">
                                <label>email address</label>
                                <input type="email" name="EmailFrom" ng-model="emailFrom" ng-required="true"/>
                                @Html.Partial("_AngularMessages", "form.EmailFrom")
                            </md-input-container>
                            <md-input-container class="md-block left-align-text" layout-align="center center">
                                <label>email body</label>
                                <textarea class="ContactEmailBodyTextArea" rows="10" cols="32" type="text" name="EmailBody" ng-model="emailBody" ng-required="true"></textarea>
                                @Html.Partial("_AngularMessages", "form.EmailBody")
                            </md-input-container>
                            <md-input-container class="md-block left-align-text" layout-align="center center">
                                <md-button ng-click="sendEmail(form)" ng-disabled="!form.$valid" class="action-button button md-primary">Send Email</md-button>
                            </md-input-container>
                            <md-input-container class="md-block left-align-text" layout-align="center center">
                                <a href="tel:+64211686062"><md-button ng-click="updateInfoFromGoogle()" class="action-button button md-primary"><span style="vertical-align: middle;" class="material-icons">phone</span> (021) 168 6062</md-button></a>
                            </md-input-container>
                        </form>
                    </md-content>
                </div>
                <div flex="10"></div>
            </div>
        </div>
    </div>
    <div class="spacer"></div>
    <div class="content-container">
        <div class="content-header">
            <h1 style="color: white;">Location</h1>
        </div>
        <div class="content-body">
            <a target="_blank" href="http://maps.google.com/?q=288C+Ellerslie+-+Panmure+Hwy,+Mount+Wellington,+Auckland+1060">
            <div class="business-location" id="BusinessLocation"></div>
            </a>
        </div>
    </div>
</div>