@using Business.Helpers
@model Business.Models.IndexViewModel

<!DOCTYPE html>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-controller="businessHomeController">
    <div class="content-container home-content-container">
        <div class="content-header">
            <h1 style="color: white;">Coupons</h1>
        </div>
        <a href="/Coupon/Create" style="text-decoration: none;">
            <div class="create-coupon-button" layout="column" layout-align="center center">
                <div><h4 style="color: white;">Create Coupon(s)</h4></div>
            </div>
        </a>
        <div class="content-body">
            <div ng-show="model.SavedCoupons.length > 0">
                <md-card>
                    <md-card-title class="search-coupon-container">
                        <md-card-title-text layout="row" layout-align="start center">
                            <div flex="5"><i class="material-icons">search</i></div>
                            <div flex="95" class="left-align-text"><input placeholder="Search" class="search-coupon-input" type="text" ng-model="query[queryBy]" /></div>
                        </md-card-title-text>
                    </md-card-title>
                </md-card>
                <md-card ng-repeat="coupon in model.SavedCoupons | filter:query">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline"><strong>{{coupon.CouponTitle}}</strong></span>
                            <span class="md-subhead"><strong>{{coupon.CouponText}}</strong></span>
                            <span class="md-subhead">Redeemed: {{coupon.AmountRedeemed}} | Available: {{coupon.AmountAvailable}}</span>
                        </md-card-title-text>
                        <i ng-click="expandActions($event)" class="material-icons coupon-actions-toggle">&#xE5CF;</i>
                    </md-card-title>
                    <md-card-actions layout="row" layout-align="center">
                        <div class="coupon-actions" layout-xs="column" layout-gt-xs="row" layout-align-xs="space-between center" layout-align="space-between center">
                            <div flex="30"><md-button ng-click="activateCouponsDialog(coupon.Id)" class="coupon-action-dialog-button button Button md-primary">Activate Coupon(s)</md-button></div>
                            <div show-xs class="xs-spacer"></div>
                            <div flex="30"><md-button ng-click="deactivateCouponsDialog(coupon.Id)" class="coupon-action-dialog-button green-background button md-primary">Deactivate Coupon(s)</md-button></div>
                            <div show-xs class="xs-spacer"></div>
                            <div flex="30"><md-button ng-click="deleteCouponsDialog(coupon.Id)" class="coupon-action-dialog-button red-background button md-primary">Delete Coupon</md-button></div>
                        </div>
                    </md-card-actions>
                </md-card>
            </div>
            <md-card ng-show="model.SavedCoupons.length == 0">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">It doesn't look like you have any coupons created, click the "Create Coupon(s)" button above to get started!</span>
                    </md-card-title-text>
                </md-card-title>
            </md-card>
        </div>
    </div>

    <script type="text/ng-template" id="activateCouponsDialog.html">
        <div class="content-container">
            <div class="content-header light-green-background">
                <h1 style="color: white;">Activate</h1>
            </div>
            <div class="content-body">
                <md-content class="md-no-momentum" layout-margin>
                    <form name="form">
                        <p class="left-align-text">Please select the amount of coupons you want to activate</p>
                        <md-input-container class="md-block left-align-text">
                            <md-select ng-model="ctrl.activateCouponModel.selectedAmount" name="Quantity" ng-required="true" ng-disabled="ctrl.isLoading">
                                <label>Amount</label>
                                <md-option ng-repeat="amount in ctrl.amounts" ng-value="amount">
                                    {{amount}}
                                </md-option>
                            </md-select>
                            @Html.Partial("_AngularMessages", "form.Quantity")
                        </md-input-container>
                        <md-button ng-click="ctrl.activateCoupon(form)" ng-disabled="!form.$valid" class="coupon-action-dialog-button button md-primary">activate coupon(s)</md-button>
                    </form>
                </md-content>
            </div>
        </div>
    </script>

    <script type="text/ng-template" id="deactivateCouponsDialog.html">
        <div class="content-container">
            <div class="content-header">
                <h1 style="color: white;">Deactivate</h1>
            </div>
            <div class="content-body">
                <md-content class="md-no-momentum" layout-margin>
                    <form name="form">
                        <p class="left-align-text">Please select the amount of coupons you want to deactivate, any coupons already with a customer will remain that way</p>
                        <md-input-container class="md-block left-align-text">
                            <label>Amount</label>
                            <md-select ng-model="ctrl.deactivateCouponModel.selectedAmount" name="Quantity" ng-required="true" ng-disabled="ctrl.isLoading">
                                <md-option ng-repeat="amount in ctrl.amounts" ng-value="amount">
                                    {{amount}}
                                </md-option>
                            </md-select>
                            @Html.Partial("_AngularMessages", "form.Quantity")
                        </md-input-container>
                        <md-button ng-click="ctrl.deactivateCoupon(form)" ng-disabled="!form.$valid" class="coupon-action-dialog-button green-background button md-primary">deactivate coupon(s)</md-button>
                    </form>
                </md-content>
            </div>
        </div>
    </script>

    <script type="text/ng-template" id="deleteCouponsDialog.html">
        <div class="content-container">
            <div class="content-header red-background">
                <h1 style="color: white;">Delete</h1>
            </div>
            <div class="content-body">
                <md-content class="md-no-momentum" layout-margin>
                    <form name="form">
                        <p class="left-align-text">Are you sure you want to delete this coupon? All currentley active coupons will be deleted, all coupons held by customers will remain that way</p>
                        <md-button ng-click="ctrl.deleteCoupon(form)" class="coupon-action-dialog-button red-background button md-primary">delete coupon</md-button>
                    </form>
                </md-content>
            </div>
        </div>
    </script>
    <script type="text/javascript">
        @{
            var data = new
            {
                Model
            };
        }

        $('md-card-actions').hide();

        window.simplecoupons.state['index.model'] = '@Html.Raw(data.ToJson())';
    </script>
</div>

