body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #F5F5F5;
}

.BusinessCoupons {
    height:380px;
    overflow: auto;
}
.footer {
 padding: 25px 0 0 25px;
 height:50px;
 background-color: #81C784;
}
.GreyLink {
  color: lightgray;
  text-decoration: none; /* no underline */
}
.CouponCard {
    height: 180px;
    cursor: pointer;
}
.IconButton{
    margin-top:15px;
}
.CardNavButton{
    margin: 0 30px 0 30px;
}
.CustomerSearch{
    margin-left:35%;
}
.BusinessCouponCard {
    height: 80px;
}
.BusinessCouponTitle {
    padding: 10px 16px 16px;
}
.BusinessMain{
    height:450px;
}

.GoogleMapDiv {
    width:300px;
    height: 250px;
}

.CouponContainer{
    width: 700px;
    margin: 25px 0 0 340px;
    
}
.Button{
    background-color: #2E7D32;
    color: white;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.navbar {
    width:100%;
    height: 100px;
    background-color: #81C784;
}

h2 {
    color: #81C784;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.FormContent{
    padding-left: 45%;
}

::-webkit-input-placeholder {
   color: rgba(0,0,0,0.26);
   font-size: 14px;
   font-family: Roboto, "Helvetica Neue", sans-serif;
}

:-moz-placeholder { /* Firefox 18- */
   color: rgba(0,0,0,0.26);  
   font-size: 14px;
   font-family: Roboto, "Helvetica Neue", sans-serif;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: rgba(0,0,0,0.26);  
   font-size: 14px;
   font-family: Roboto, "Helvetica Neue", sans-serif;
}

:-ms-input-placeholder {  
   color: rgba(0,0,0,0.26);  
   font-size: 14px;
   font-family: Roboto, "Helvetica Neue", sans-serif;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}
.md-raised{
        background-color: #2E7D32;
    color: white;
}
.NavbarTitle {
    margin-bottom: 50px;
}
.footer{
    color:white;
}
.navbarAccount{
    padding:20px 20px 0 0;
}
.FormTitle{
    color: #81C784;
    font-size: 30pt;
}
.site-title{
    font-size: 50pt;
    color: white;
}
.FormSubmit {
    margin: 25px 0 25px 100px;
}
