<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8"/>
    <!-- Chrome, Firefox OS, Opera and Vivaldi -->
    <meta name="theme-color" content="#4CAF50">
    <meta name="mobile-web-app-capable" content="yes">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#4CAF50">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#4CAF50">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    @Styles.Render("~/Content/css")
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    @Scripts.Render("~/bundles/angularmaterial")
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC9zkC1hWxkL6Ht0GH2gGK7nj-z6ufq8cc&libraries=places"></script>
</head>

<body ng-app="freeCouponsApp" style="min-height: 100%">
    <script type="text/javascript">
        window.simplecoupons = window.simplecoupons ||
        {
            state: {}
        };
    </script>
    <div class="main" layout="column" layout-align="space-between center">
        <div class="navbar">
            <header style="text-align: center">
                <div aria-busy="false" aria-label="Loading, please wait." role="progressbar"></div>
            </header>
            <div style="text-align: center;">
                <a class="GreyLink SiteTitle" href="/Home/Index">Coupon Roulette</a>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
        <div style="width: 100%;" flex="80">
            @RenderBody()
        </div>
        <div class="footer">
            <label>© <a href="/Home/Index">Simple Coupons 2017</a></label> - <label><a href="/Home/Contact">Contact us</a></label>
        </div>
    </div>
</body>
</html>