
/*#region LAYOUT*/
html {
    background-color: #E0E0E0;
    height: 100%;
}

body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #E0E0E0;
    text-align: center;
    height: 100%;
    padding-bottom: 50px !important;
}

footer {
    padding-top: 4px;
    color: white;
    width: 100%;
    background-color: #4CAF50;
    height: 25px;
    bottom: 0;
    position: fixed;
}

footer a {
    color: white !important;
}

h1, h2, h3, h4, h5, h6{
    color: #8BC34A;
}

.navbar {
  width: 100%;
  display: inline-block;
  background-color: #4CAF50;
  box-shadow: 0 20px 15px 0 rgba(0, 0, 0, 0.26);
  margin-bottom: 50px;
    padding-bottom: 10px;
}

.main {
  min-height: 700px;
    padding-bottom: 50px;
}
/*#endregion LAYOUT*/

/*#region ACCOUNT PARTIAL*/
.account-button {
    background-color: white !important;
    color: #4CAF50 !important;
    width: 160px;
}
/*#endregion ACCOUNT PARTIAL*/

/*#region GENERAL*/
.site-title {
    font-weight: bolder;
    color: white;
}
.md-spacer {
    margin: 25px 0 25px 0;
}
.sm--spacer {
    margin: 12.5px 0 12.5px 0;
}
.xs-spacer {
    margin: 5px 0 5px 0;
}
.text-danger {
    color: #F44336;
}
.content-container {
    border-radius: 5px;
    width: 100%;
    max-width: 450px;
    max-height: 800px;
    margin: auto;
}
.content-header {
    background-color: #4CAF50;
    color: white;
    padding: 5px;
    text-align: center;
}
.content-body {
    background-color: white;
    padding: 15px 15px 15px 15px;
}
*:focus {
    outline: none !important;
}
.flip {
    transform: rotate(-180deg);
}
.left-align-text {
    text-align: left;
}
.red-text {
    color: red;
}
.button {
    background-color: #8BC34A !important;
    color: white !important;
}
.light-green-background {
    background-color: #8BC34A !important;
}
.green-background {
    background-color: #4CAF50 !important;
}
.red-background {
    background-color: #F44336 !important;
}
.action-button {
    width: 100%;
    margin: 0 !important;
}
@media (max-width: 600px) {
    .site-title {
        font-size: 38pt;
    }
}

@media (max-width: 400px) {
    .site-title {
        font-size: 30pt;
    }
}

@media (min-width: 600px) {
    .site-title {
        font-size: 50pt;
    }
}
/*#endregion GENERAL*/

/*#region CONTACT PAGE*/
.business-location {
    width: 100%;
    height: 350px;
}
.contact-button {
    
}

/*#endregion CONTACT PAGE*/

/*#region CREATE COUPON PAGE*/
.preview-deal-title {
    font-size: 20pt;
    margin-top: 12px;
    display: inline-block;
}
.preview-deal-text {
    font-size: 15pt;
    margin-top: 12px;
    display: inline-block;
    width: 100%;
    padding-bottom: 10px;
}
.create-coupon-button {
    width: 100%;
    margin: 0 !important;
}
.preview-deal-content-container {
    text-align: center;
    margin-bottom: 50px;
    background-color: white;
    max-width: 450px;
    min-width: 300px;
    min-height: 100px;
    text-align: center;
    display: inline-block;
}
/*#endregion*/

/*#region LOGIN PAGE*/

/*#endregion*/

/*#region REGISTER PAGE*/

/*#endregion*/

/*#region HOME PAGE*/
.home-content-container {
     max-width: 980px;
}
.create-coupon-button {
    background-color: #8bc34a;
    cursor: pointer;
    width: 100%;
    height: 50px;
    padding: 10px 0 10px 0;
}
.create-coupon-button h4 {
    margin: 0;
}

.create-coupon-button:hover {
    background-color: #388e3c;
}
.search-coupon-container {
    padding: 10px 15px 10px 15px;
}
.search-coupon-input {
    background-color: transparent;
    border: none;
    color: black;
    margin-left: 10px;
    font-weight: bolder;
    width: 100%;
}
.coupon-actions-toggle {
    cursor: pointer;
    height: 25px;
}
.coupon-actions {
    padding: 10px 15px 10px 15px;
    border-top: lightgray solid thin;
    width: 90%;
}
.coupon-action-dialog-button {
    width: 100%;
    margin: 0 !important;
    min-width: 175px !important;
}
@media (max-width: 675px) {
    .coupon-action-dialog-button {
        font-size: 9pt !important;
        min-width: 150px !important;
    }
}
/*#endregion*/

/*#region MANAGE*/
.business-info-container {
    text-align: left;
}
.attach-file-button {
    padding-top: 7px !important;
    background-color: #4caf50 !important;
}

@media (max-width: 450px) {
    .business-info-container {
        font-size: 10pt;
    }
}
/*#endregion*/

/*#region GOOGLE*/
.pac-icon {
    height: 0 !important;
    width: 0 !important;
}
.pac-item {
    border-top: 0 !important;
}
/*#endregion GOOGLE*/

/*CHANGE PLACEHOLDER TEXT COLOR*/
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-family: Roboto, "Helvetica Neue", sans-serif;
    color: #C5C5C5;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #C5C5C5;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #C5C5C5;
}
:-moz-placeholder { /* Firefox 18- */
    color: #C5C5C5;
}

/*CHANGE AUTOFILL BACKGROUND COLOR*/
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}
