@using Customer.Helpers
@model Customer.Models.IndexViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript" src="https://cdn.jsdelivr.net/lodash/4.13.1/lodash.min.js"></script>

<div ng-controller="homeController" class="Main" style="margin-bottom: 25px; margin-top: 20PX;">
    <div class="Coupons">
        <div class="CouponCard" ng-repeat="business in model.Businesses">
            <md-card style="position: absolute" class="CouponCard" id="{{business.Id}}">
                <md-card-title style="overflow: hidden;" class="NoPadding">
                    <md-card-title-text style="text-align: center;">
                        <div class="TitleRatingContainer">
                            <div class="CardTitle md-headline">
                                <strong>{{business.BusinessName}}</strong>
                                @*-<a target="_blank" class="RatingNumber" href="https://www.google.co.nz/maps/place/{{business.Lat}},{{business.Lng}},17z/data=!4m7!3m6!1s0x6d0d48e4f2e2d651:0xd3e4045a1d8adb6e!8m2!3d-36.896973!4d174.808417!9m1!1b1?hl=en">4.8</a>*@
                            </div>
                        </div>
                        <a target="_blank" href="http://maps.google.com/?q= {{business.FormattedAddress}}">
                            <div id="{{business.Id}}map" class="CardMiniMap"></div>
                        </a>
                        <div class="CardActionsContainer">
                            <a href="tel:{{business.FormattedPhoneNumber}}"><md-button class="CardActionButton Button md-primary"><i class="material-icons">phone</i></md-button></a>
                            <md-button class="CardActionButton Button md-primary"><i class="material-icons">restaurant_menu</i></md-button>
                            <md-button class="CardActionButton Button md-primary"><i class="material-icons">list</i></md-button>
                        </div>
                    </md-card-title-text>
                </md-card-title>
            </md-card>
        </div>
    </div>
</div>

<script type="text/javascript">
        @{
            var data = new
            {
                Model
            };
        }
        window.simplecoupons.state['index.model'] = '@Html.Raw(data.ToJson())';
</script>