@using Microsoft.AspNet.Identity

@*<div class="AccountActions" ng-controller="navbarController">*@
@*    @if (Request.IsAuthenticated)*@
@*    {*@
@*        <md-button class="Button" style="margin-bottom: 10px;" ng-click="account()">account</md-button>*@
@*        <md-button class="Button" style="margin-bottom: 10px;" ng-click="logoff()">Log off</md-button>*@
@*    }*@
@*    else*@
@*    {*@
@*        <md-button class="Button" style="margin-bottom: 10px;" ng-click="register()">register</md-button>*@
@*        <md-button class="Button" style="margin-bottom: 10px;" ng-click="login()">login</md-button>*@
@*    }*@
@*</div>*@