@using System.Configuration
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <title>Simple Coupons</title>
</head>

<body style="min-height: 100%; width: 100%; text-align: center;">
    <div style="width: 100%; text-align: center; max-width: 550px; background-color: #f4f4f2; border-radius: 2px; box-shadow: 3px 3px 10px #888888; display: inline-block; border-right: #4caf50 solid 1px; border-left: #4caf50 solid 1px;">
        <div style="min-height: 100%; margin: 0 auto -25px;">
            <div id="MainBody" style="height: 100%;">
                <div style="display: inline-block; height: auto; min-height: 15%; background-color: #4CAF50; width: 100%; border-top-right-radius: 2px; border-top-left-radius: 2px;">
                    <div style="text-align: center; height: 70px; padding-top: 20px;">
                        <a style="font-weight: bolder; color: white; font-size: 38px;" href="@ConfigurationManager.AppSettings["SiteUrl"]">Simple Coupons</a>
                    </div>
                </div>
                <div style="color: grey; font-size: 12pt; padding: 0 20px 0 20px; text-align: left;">
                    #RENDERBODY
                </div>
            </div>
            <div style="height: 25px;"></div>
        </div>
        <div style="color: white; left: 0; bottom: 0; width: 100%; background-color: #4CAF50; height: 50px; border-bottom-left-radius: 2px; border-bottom-right-radius: 2px; line-height: 50px;">
            <label>© <a style="color: white;" href="@ConfigurationManager.AppSettings["SiteUrl"]">Simple Coupons 2017</a></label> - <label><a style="color: white;" href="@ConfigurationManager.AppSettings["SiteUrl"]/Home/Contact">Contact us</a></label>
        </div>
    </div>
</body>
</html>
