@{
    ViewBag.Title = "Confirm Email";
}

<div>
    <div class="content-container">
        <div class="content-header">
            <h1 style="color: white;">Success</h1>
        </div>
        <div class="content-body">
            <md-content class="md-no-momentum" layout-margin>
                <p>
                    Thanks for confirming your email address. You're now halfway through the verification process! Another email has been sent to you with information on what happens next.
                </p>
            </md-content>
        </div>
    </div>
</div>