@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<div>
    <div class="content-container">
        <div class="content-header">
            <h1 style="color: white;">Success</h1>
        </div>
        <div class="content-body">
            <md-content class="md-no-momentum" layout-margin>
                <p>
                    We have sent you an email containing a link that will allow you to reset your password.
                </p>
            </md-content>
        </div>
    </div>
</div>