@model Business.Models.LoginViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<title>Login</title>

<form method="POST" action="/Account/Login" name="form" ng-controller="loginController">
    <div class="content-container login-content-container">
        <div class="content-header">
            <h1 style="color: white;">Login</h1>
        </div>
        <div class="content-body">
            <div layout="row">
                <div flex="10"></div>
                <div flex="80">
                    <md-content class="md-no-momentum" layout-margin>
                        <md-input-container class="md-block left-align-text" layout-align="center center">
                            <label>email</label>
                            <input name="Email" ng-required="true" ng-model="email" tabindex="1" type="email"/>
                            @Html.Partial("_AngularMessages", "form.Email")
                        </md-input-container>
                        <md-input-container class="md-block left-align-text" layout-align="center center">
                            <label>password</label>
                            <input type="password" name="Password" tabindex="2" ng-required="true" ng-model="password"/>
                            @Html.Partial("_AngularMessages", "form.Password")
                        </md-input-container>
                        <md-input-container class="md-block left-align-text" layout-align="center center">
                            <md-checkbox tabindex="3" name="RememberMe" ng-disabled="isSubmitting" ng-model="rememberMe" ng-change="SwitchRememberMe()">remember me?</md-checkbox>
                        </md-input-container>
                        <md-input-container class="md-block left-align-text" layout-align="center center">
                            <md-button tabindex="4" ng-disabled="!form.$valid" ng-click="login()" class="action-button button md-primary">Login</md-button>
                        </md-input-container>
                        <label class="ForgotPasswordLinkContainer"><a tabindex="5" href="/Account/ForgotPassword">Forgot password?</a></label>
                    </md-content>
                </div>
                <div flex="10"></div>
            </div>
        </div>
    </div>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div style="display: none;">
        @Html.CheckBoxFor(m => m.RememberMe, new { tabindex = "3", id = "RememberMe" })
    </div>
</form>
