@using System.Web.UI.WebControls
@model Business.Models.RegisterViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<title>Register</title>

<form action="/Account/Register" ng-controller="registerController" method="post" name="form">
    <div class="content-container RegisterContentContainer">
        <div class="content-header">
            <h1 style="color: white;">Register</h1>
        </div>
        <div class="content-body">
            <div layout="row">
                <div flex="10"></div>
                <div flex="80">
                    <md-content class="md-no-momentum" layout-margin>
                        <md-input-container class="md-block left-align-text" layout-align="center center">
                            <label>email</label>
                            <input type="email" ng-model="email" Name="Email" ng-required="true" />
                            @Html.Partial("_AngularMessages", "form.Email")
                        </md-input-container>
                        <md-input-container class="md-block left-align-text" layout-align="center center">
                            <label>password</label>
                            <input type="password" ng-model="password" match="confirmPassword" Name="Password" ng-required="true" ng-minlength="4" ng-maxlength="20" />
                            @Html.Partial("_AngularMessages", "form.Password")
                        </md-input-container>
                        <md-input-container class="md-block left-align-text" layout-align="center center">
                            <label>confirm password</label>
                            <input type="password" ng-model="confirmPassword" match="password" Name="ConfirmPassword" ng-required="true" ng-minlength="4" ng-maxlength="20" />
                            @Html.Partial("_AngularMessages", "form.ConfirmPassword")
                        </md-input-container>
                        <md-input-container md-no-float class="md-block left-align-text" layout-align="center center">
                            <input type="text" id="BusinessAddress" placeholder="Search for your business" ng-model="businessAddress" ng-change="changeAddress()" ng-required="true"/>
                            <input type="hidden" name="BusinessName" value="{{business.name}}"/>
                            <input type="hidden" name="Lat" value="{{business.lat}}"/>
                            <input type="hidden" name="Lng" value="{{business.lng}}"/>
                            <input type="hidden" name="FormattedAddress" value="{{business.formattedAddress}}"/>
                            <input type="hidden" name="PhoneNumber" value="{{business.phoneNumber}}"/>
                            <input type="hidden" name="FormattedPhoneNumber" value="{{business.formattedPhoneNumber}}"/>
                            <input type="hidden" name="Website" value="{{business.website}}"/>
                            <input type="hidden" name="Rating" value="{{business.rating}}"/>
                            <input type="hidden" name="PlaceId" value="{{business.placeId}}"/>
                        </md-input-container>
                        <md-input-container class="md-block" layout-align="center center">
                            <md-button class="action-button button md-primary" ng-click="register(form)" ng-disabled="!form.$valid || disableSubmit">register</md-button>
                        </md-input-container>
                    </md-content>
                </div>
                <div flex="10"></div>
            </div>
        </div>
    </div>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
</form>


