@{
    ViewBag.Title = "Address verification";
}

<div>
    <div class="content-container">
        <div class="content-header">
            <h1 style="color: white;">Verification Required</h1>
        </div>
        <div class="content-body">
            <md-content class="md-no-momentum" layout-margin>
                <p>
                    Your physical address is pending verification, please check the letter that has been sent in the post for further instructions. 
                </p>
                <p>
                    If it has been more then 3 business days and you still have not received you're letter in the mail, please send us an email at <a href="mailto:info@simplecoupons.co.nz">info@simplecoupons.co.nz</a>
                </p>
            </md-content>
        </div>
    </div>
</div>