@{
    ViewBag.Title = "Email verification";
}

<div>
    <div class="content-container">
        <div class="content-header">
            <h1 style="color: white;">Verificaiton Required</h1>
        </div>
        <div class="content-body">
            <md-content class="md-no-momentum" layout-margin>
                <p>
                    Your email address is pending verification, please check your email inbox for further details
                </p>
            </md-content>
        </div>
    </div>
</div>