@{
    ViewBag.Title = "Address verification";
}

<div class="FormContent">
    <md-card class="ConfirmationMessageCard LoginFormContainer">
        <md-card-title class="NoPadding">
            <md-card-title-text style="text-align: center;">
                <md-toolbar class="CardFormSectionHeaderContainer md-theme-light">
                    <h1 class="CardFormSectionHeader">
                        Verification Required
                    </h1>
                </md-toolbar>
                <div class="ConfirmationMessageCardBody InputContainer">
                    <p>
                        Your physical address is pending verification, please check the letter that has been sent in the post for further instructions. 
                    </p>
                    <p>
                        If it has been more then 3 business days and you still have not received you're letter in the mail, please send us an email at <a href="mailto:info@simplecoupons.co.nz">info@simplecoupons.co.nz</a>
                    </p>
                </div>
            </md-card-title-text>
        </md-card-title>
    </md-card>
</div>