@{
    ViewBag.Title = "Reset password confirmation";
}

<div>
    <div class="content-container">
        <div class="content-header">
            <h1 style="color: white;">Success</h1>
        </div>
        <div class="content-body">
            <md-content class="md-no-momentum" layout-margin>
                <p>
                    Your password has been successfully reset. <br /> Please <a href="/Account/Login">click here</a> to log in
                </p>
            </md-content>
        </div>
    </div>
</div>