@{
    ViewBag.Title = "Confirm Address";
}

<div>
    <div class="content-container">
        <div class="content-header">
            <h1 style="color: white;">Success</h1>
        </div>
        <div class="content-body">
            <md-content class="md-no-momentum" layout-margin>
                <p>
                    Thanks for confirming your physical address. You are now fully verified and ready to use the Simple Coupons system, please <a href="/Account/Login">click here </a>to login
                </p>
            </md-content>
        </div>
    </div>
</div>