@model Business.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Verify address";
}

<form name="form" ng-controller="addressVerificationController">
    @Html.AntiForgeryToken()
    <div>
        <div class="content-container">
            <div class="content-header">
                <h1 style="color: white;">Success</h1>
            </div>
            <div class="content-body">
                <md-content class="md-no-momentum" layout-margin>
                    <md-input-container class="md-block">
                        <label>email</label>
                        <input name="Email" type="email" ng-model="email" ng-required="true"/>
                        @Html.Partial("_AngularMessages", "form.Email")
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>verification code</label>
                        <input name="VerificationCode" ng-model="verificationCode" ng-required="true" />
                        @Html.Partial("_AngularMessages", "form.VerificationCode")
                    </md-input-container>
                    <md-input-container class="md-block">
                        <md-button ng-click="submit(form)" ng-disabled="!form.$valid" class="action-button button md-primary">Verify address</md-button>
                    </md-input-container>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                </md-content>
            </div>
        </div>
    </div>
</form>