@{
    ViewBag.Title = "Confirm Address";
}

<div class="FormContent">
    <md-card class="ConfirmationMessageCard LoginFormContainer" style="height: auto; max-width: 350px">
        <md-card-title class="NoPadding">
            <md-card-title-text style="text-align: center;">
                <md-toolbar class="CardFormSectionHeaderContainer md-theme-light">
                    <h1 class="CardFormSectionHeader">
                        Success
                    </h1>
                </md-toolbar>
                <div class="ConfirmationMessageCardBody InputContainer">
                    <p>
                        Thanks for confirming your physical address. You are now fully verified and ready to use the Simple Coupons system, please <a href="/Account/Login">click here </a>to login
                    </p>
                </div>
            </md-card-title-text>
        </md-card-title>
    </md-card>
</div>
