@using Business.Helpers
@model Business.Models.BusinessInfoViewModel
@{
    ViewBag.Title = "Manage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="Main" ng-controller="manageAccountController">
    <div class="InputContainer">
        <md-card class="ManageCardContainer">
            <md-card-title class="NoPadding">
                <md-card-title-text class="CenterAlignText">
                    <md-toolbar class="CardFormSectionHeaderContainer md-theme-light">
                        <h1 class="CardFormSectionHeader">
                            <span>Business Info</span>
                        </h1>
                    </md-toolbar>
                    <table class="ManageBusinessInfoTable">
                        <tr>
                            <th></th>
                            <th></th>
                        </tr>
                        <tr>
                            <td style="font-weight: bold">Name:</td>
                            <td>{{model.BusinessName}}</td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold">Phone:</td>
                            <td>{{model.FormattedPhoneNumber}}</td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold">Website:</td>
                            <td>{{model.WebsiteUrl}}</td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold">Address:</td>
                            <td>{{model.FormattedAddress}}</td>
                        </tr>
                    </table>
                    <div class="OneHundredPercentWidth">
                        <md-button ng-click="updateInfoFromGoogle()" class="ManageActionButton Button md-primary">Update Info from Google</md-button>
                    </div>
                    <table class="ManageBusinessInfoTable NoTopMargin">
                        <tr>
                            <td style="font-weight: bold; width: 16%;">Menu:</td>
                            <td ng-if="model.MenuUrl"><a href="{{model.MenuUrl}}">menu</a></td>
                            <td ng-if="!model.MenuUrl" style="color: red;">No menu</td>
                        </tr>
                    </table>
                    <div class="OneHundredPercentWidth">
                        <input id="menuUpload" ng-show="false" type="file" ngf-select="" ng-model="picFile" ng-change="upload(picFile)" name="file" ngf-accept="'.pdf'" required="">
                        <md-button ng-click="uploadMenu()" class="ManageActionButton Button md-primary">Upload Menu (.pdf)</md-button>
                    </div>
                </md-card-title-text>
            </md-card-title>
        </md-card>


        <md-card class="ManageCardContainer" style="height: auto;">
            <md-card-title class="NoPadding">
                <md-card-title-text style="text-align: center;">
                    <md-toolbar class="CardFormSectionHeaderContainer">
                        <h1 class="CardFormSectionHeader">
                            <span>Change Password</span>
                        </h1>
                    </md-toolbar>
                    <div id="GeneralInput">
                        <form action="/Manage/ChangePassword" method="post" name="form">
                            <div class="InputContainer">
                                <md-input-container class="NoMargin" style="margin-top: 15px !important;">
                                    <label>Old password</label>
                                    <input type="password" ng-model="changePasswordModel.OldPassword" Name="OldPassword" ng-required="true" ng-minlength="4" ng-maxlength="20" />
                                    @Html.Partial("_AngularMessages", "form.OldPassword")
                                </md-input-container>
                            </div>
                            <div class="InputContainer">
                                <md-input-container class="NoMargin">
                                    <label>New password</label>
                                    <input type="password" ng-model="changePasswordModel.NewPassword" ng-model-options="{allowInvalid: true}" match="changePasswordModel.ConfirmPassword" Name="NewPassword" ng-required="true" ng-minlength="4" ng-maxlength="20" />
                                    @Html.Partial("_AngularMessages", "form.NewPassword")
                                </md-input-container>
                            </div>
                            <div class="InputContainer">
                                <md-input-container class="NoMargin">
                                    <label>Confirm password</label>
                                    <input type="password" ng-model="changePasswordModel.ConfirmPassword" ng-model-options="{allowInvalid: true}" match="changePasswordModel.NewPassword" Name="ConfirmPassword" ng-required="true" ng-minlength="4" ng-maxlength="20" />
                                    @Html.Partial("_AngularMessages", "form.ConfirmPassword")
                                </md-input-container>
                            </div>
                            <div class="OneHundredPercentWidth">
                                <md-button ng-disabled="!form.$valid" ng-click="changePassword()" class="ManageActionButton Button md-primary">Change Password</md-button>
                            </div>
                        </form>
                    </div>
                </md-card-title-text>
            </md-card-title>
        </md-card>
    </div>

    <script type="text/javascript">
        @{
            var data = new
            {
                Model
            };
        }

        window.simplecoupons.state['index.model'] = '@Html.Raw(data.ToJson())';
    </script>
</div>
