@model Services.Models.BasicEmailModel

<!--BODY START-->
<p>Hi @Model.Name,</p>
<p>
    Thanks for verifying your email address.</p>
<p>
    Just letting you know a letter is on it's way to <label style="text-decoration: underline; font-weight: bold;">@Model.Link</label>. This should arrive within 3 business days. It will include a unique code and a URL where to enter the code. Once that is done you will be fully verified and be able to start using the Simple Coupons system!
</p>
<p>Regards,</p>
<p>Simple Coupons team.</p>
<!--BODY END-->
