@model Services.Models.BasicEmailModel

<!--BODY START-->
<p>Hi @Model.Name,</p>
<p>looks like you forgot your password. Please <a href="@Model.Link">click here</a> to reset it.
</p>
<p>Regards,</p>
<p>Simple Coupons team</p>
<!--BODY END-->

