@using Customer.Helpers
@model Customer.Models.IndexViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script type="text/javascript" src="https://cdn.jsdelivr.net/lodash/4.13.1/lodash.min.js"></script>

<div id="search" class="CustomerSearchIconContainer">
    <label onclick="expandSearch()" style="color: black; cursor: pointer;"><i class="material-icons">search</i></label>
</div>
<div ng-controller="customerHomeController" class="Main" style="margin-bottom: 25px; margin-top: 20PX;">
    <div class="CustomerSearch" ng-controller="searchController">
        <md-input-container class="md-block SearchInputContainer" style="margin-top: 15px !important;" md-no-float>
            <input type="text" ng-Model="address" placeholder="Nearby..." id="BusinessAddress" />
        </md-input-container>
        <md-input-container class="md-block SearchInputContainer" md-no-float>
            <input type="text" ng-Model="businessName" placeholder="Name..." />
        </md-input-container>
        <md-input-container class="md-block SearchInputContainer" style="text-align: left;" md-no-float>
            <label>Category...</label>
            <md-select ng-model="category">
                <md-option value="1">
                    Malaysian
                </md-option>
                <md-option value="2">
                    Middle Eastern
                </md-option>
                <md-option value="3">
                    Pub
                </md-option>
            </md-select>
        </md-input-container>
        <md-button ng-click="search()" class="Button SearchButton" style="width: 50%">search</md-button>
        <hr style="width: 90%;" />
        <a onclick="collapseSearch()"><i style="cursor: pointer; margin-bottom: 15px; color: #4CAF50;" class="material-icons">cancel</i></a>
        <div class="NotificationBorder"></div>
    </div>
    <div class="Coupons">
        <div class="CouponCard" ng-repeat="business in model.Businesses">
            <md-card style="position: absolute" class="CouponCard" id="{{business.Id}}">
                <md-card-title style="overflow: hidden;" class="NoPadding">
                    <md-card-title-text style="text-align: center;">
                        <div>
                            <div style="float: left;" class="MdTitle md-headline">
                                <strong>{{business.BusinessName}}</strong>
                            </div>
                            <a target="_blank" href="https://www.google.co.nz/maps/place/{{business.Lat}},{{business.Lng}},17z/data=!4m7!3m6!1s0x6d0d48e4f2e2d651:0xd3e4045a1d8adb6e!8m2!3d-36.896973!4d174.808417!9m1!1b1?hl=en">
                                <label class="RatingContainer" style="cursor: pointer">
                                    <label style="cursor: pointer" class="RatingNumber">4.8</label>
                                    <span style="text-align: left;" id="{{business.Id}}rating" class="stars">4.8</span>
                                </label>
                            </a>
                            <div class="ReviewSperator"></div>
                        </div>
                        <a target="_blank" href="http://maps.google.com/?q= {{business.BusinessAddress}}">
                            <div id="{{business.Id}}map" class="CardMiniMap"></div>
                        </a>
                    </md-card-title-text>
                </md-card-title>
            </md-card>
        </div>
    </div>
</div>

<script type="text/javascript">
        @{
            var data = new
            {
                Model
            };
        }

        window.simplecoupons.state['index.model'] = '@Html.Raw(data.ToJson())';
</script>