@using Microsoft.AspNet.Identity

<div>
    @if (Request.IsAuthenticated)
    {
        <a id="ManageAccountLink" href="/Manage"><md-button class="AccountButton" style="margin-bottom: 10px;">account</md-button></a>
        <a id="LogoffLink" href="/Account/Logoff"><md-button class="AccountButton" style="margin-bottom: 10px;">logoff</md-button></a>
    }
    else
    {
        <a id="RegisterLink" href="/Account/Register"><md-button class="AccountButton" style="margin-bottom: 10px;">register</md-button></a>
        <a id="LoginLink" href="/Account/Login"><md-button class="AccountButton" style="margin-bottom: 10px;">login</md-button></a>
    }
</div>